
.menu__header {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.menu__header__title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8rem;
  color: var(--color-black);
}

.menu__content {
  margin-bottom: 2.4rem;
  padding: 1.6rem;
  background-color: #fff;
  border-radius: 0.8rem;
  box-shadow: 0 0.2rem 1.4rem rgba(0, 0, 0, 0.14);
}

@media (min-width: 481px) {
  .menu__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5%;

    menu-item {
      flex: 0 0 47.5%;
      max-width: 47.5%;
    }
  }
}
