:root {
  // Containers
  --container-max-width: 800px;

  // Colors
  --white:              #fff;
  --black:              #000;
  --black-100:          #121212;
  --color-primary:      #0e56f6;
  --color-grey-400:     #464646;
  --color-grey-500:     #5f5f5f;
  --color-purple:       #7e30e1;
  --color-light-purple: #f2e9ff;
  --color-red:          #e00000;
  --color-light-red:    #feefef;
}
